<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.natochy.evosussample">

    <uses-permission android:name="poynt.permission.SECOND_SCREEN_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".CloudMessageReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="poynt.intent.action.CLOUD_MESSAGE_RECEIVED" />

                <category android:name="poynt.category.CLOUD_MESSAGE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".SecondScreenService"
            android:exported="false"></service>
    </application>

</manifest>